In [54]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
df = pd.read_csv('data_ready_for_Model.csv')
df.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,...,avg_salary,python_req,sql_req,Tensorflow_req,excel_req,cloud_req,jobs_grouped,level,desc_len,company_age
0,0,Senior Python Data Engineer,433000 - 763000,"StartUs Insights, an international data scienc...",4.6,StartUs Insights,Remote,1 to 50,2014,Company - Private,...,598000.0,1,1,0,0,0,data engineer,Senior,613,8
1,1,Senior Big Data Engineer (Python),433000 - 763000,"StartUs Insights, an international data scienc...",4.6,StartUs Insights,Remote,1 to 50,2014,Company - Private,...,598000.0,1,1,0,0,0,data engineer,Senior,613,8
2,2,Data Scientist,433000 - 763000,About Us:\nMobiKwik is India's largest indepen...,3.9,MobiKwik,Gurgaon,201 to 500,2009,Company - Private,...,598000.0,0,0,0,0,0,data scientist,Misc,1830,13
3,3,Data Scientist,433000 - 763000,Ahmedabad\nBe a part of the movement to revolu...,-1.0,R3coder,Ahmedabad,NaN,-1,-1,...,598000.0,0,0,0,0,0,data scientist,Misc,758,-1
4,4,Data Scientist,433000 - 763000,"Job Description\n\nOffice No.13, B1, Galaxy Si...",4.2,Thomson Reuters,Ahmedabad,10000,2008,Company - Public,...,598000.0,1,0,1,1,1,data scientist,Misc,2446,14

In [6]:
df = df.drop('Unnamed: 0',axis =1)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Size,Founded,Type of ownership,Industry,...,avg_salary,python_req,sql_req,Tensorflow_req,excel_req,cloud_req,jobs_grouped,level,desc_len,company_age
0,Senior Python Data Engineer,433000 - 763000,"StartUs Insights, an international data scienc...",4.6,StartUs Insights,Remote,1 to 50,2014,Company - Private,Internet,...,598000.0,1,1,0,0,0,data engineer,Senior,613,8
1,Senior Big Data Engineer (Python),433000 - 763000,"StartUs Insights, an international data scienc...",4.6,StartUs Insights,Remote,1 to 50,2014,Company - Private,Internet,...,598000.0,1,1,0,0,0,data engineer,Senior,613,8
2,Data Scientist,433000 - 763000,About Us:\nMobiKwik is India's largest indepen...,3.9,MobiKwik,Gurgaon,201 to 500,2009,Company - Private,Financial Transaction Processing,...,598000.0,0,0,0,0,0,data scientist,Misc,1830,13
3,Data Scientist,433000 - 763000,Ahmedabad\nBe a part of the movement to revolu...,-1.0,R3coder,Ahmedabad,NaN,-1,-1,-1,...,598000.0,0,0,0,0,0,data scientist,Misc,758,-1
4,Data Scientist,433000 - 763000,"Job Description\n\nOffice No.13, B1, Galaxy Si...",4.2,Thomson Reuters,Ahmedabad,10000,2008,Company - Public,Enterprise Software & Network Solutions,...,598000.0,1,0,1,1,1,data scientist,Misc,2446,14

In [7]:
df.columns

Index(['Job Title', 'Salary Estimate', 'Job Description', 'Rating',
       'Company Name', 'Location', 'Size', 'Founded', 'Type of ownership',
       'Industry', 'Sector', 'Revenue', 'avg_salary', 'python_req', 'sql_req',
       'Tensorflow_req', 'excel_req', 'cloud_req', 'jobs_grouped', 'level',
       'desc_len', 'company_age'],
      dtype='object')

In [11]:
model_data = df[['avg_salary','Rating','Size','Type of ownership','Industry','Sector','Revenue','Location','company_age','python_req','Tensorflow_req','sql_req','excel_req','cloud_req','jobs_grouped','level','desc_len']]

In [13]:
dum_data = pd.get_dummies(model_data)
dum_data

,avg_salary,Rating,company_age,python_req,Tensorflow_req,sql_req,excel_req,cloud_req,desc_len,Size_1 to 50,...,jobs_grouped_Misc,jobs_grouped_analyst,jobs_grouped_data engineer,jobs_grouped_data scientist,jobs_grouped_director,jobs_grouped_manager,jobs_grouped_mle,level_Junior,level_Misc,level_Senior
0,598000.0,4.6,8,1,0,1,0,0,613,1,...,0,0,1,0,0,0,0,0,0,1
1,598000.0,4.6,8,1,0,1,0,0,613,1,...,0,0,1,0,0,0,0,0,0,1
2,598000.0,3.9,13,0,0,0,0,0,1830,0,...,0,0,0,1,0,0,0,0,1,0
3,598000.0,-1.0,-1,0,0,0,0,0,758,0,...,0,0,0,1,0,0,0,0,1,0
4,598000.0,4.2,14,1,1,0,1,1,2446,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,705000.0,4.3,-1,0,0,1,1,0,1413,1,...,0,1,0,0,0,0,0,0,0,1
862,705000.0,3.0,-1,0,0,0,0,0,844,1,...,0,0,1,0,0,0,0,0,1,0
863,705000.0,3.9,13,0,0,0,0,0,721,0,...,0,1,0,0,0,0,0,0,0,1
864,705000.0,3.6,-1,0,0,1,0,0,531,0,...,0,0,1,0,0,0,0,0,1,0
865,705000.0,2.9,12,1,0,1,1,0,1129,1,...,0,0,1,0,0,0,0,0,1,0

In [50]:
from sklearn.model_selection import train_test_split

x = dum_data.drop('avg_salary', axis =1)
y = dum_data['avg_salary'].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [56]:
from sklearn.linear_model import LinearRegression, Lasso
from sklearn.model_selection import cross_val_score

model_lr = LinearRegression()
model_lr.fit(x_train, y_train)

np.mean(cross_val_score(model_lr,x_train,y_train, scoring = 'neg_mean_absolute_error', cv= 5))

-2502213211446.0815

In [57]:
model_l = Lasso(alpha=.13)
model_l.fit(x_train,y_train)
np.mean(cross_val_score(lm_l,x_train,y_train, scoring = 'neg_mean_absolute_error', cv= 5))

-113273.89095072635

In [58]:
from sklearn.linear_model import Ridge
clf = Ridge(alpha=1.0)
clf.fit(x_train, y_train)
np.mean(cross_val_score(clf,x_train,y_train, scoring = 'neg_mean_absolute_error', cv= 5))

-108387.27322839914

In [61]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

np.mean(cross_val_score(rf,x_train,y_train,scoring = 'neg_mean_absolute_error', cv= 5))

-107811.14405947292

In [64]:
from sklearn.model_selection import GridSearchCV

parameters = {'criterion' : ['mse','mae'], 'max_depth' : [2, 4, 6, 8], 'n_estimators' : [10,150,300],'max_features':['auto','sqrt','log2'],'min_samples_split':[2, 4, 6, 8], 'min_samples_leaf' : [2, 3, 5, 7]}
gs = GridSearchCV(rf,parameters,scoring='neg_mean_absolute_error',cv=5,n_jobs= -1)
gs.fit(x_train,y_train)

print("Best Score:",gs.best_score_)
print("Best Estimator:",gs.best_estimator_)
print("Best Parameter:",gs.best_params_)

KeyboardInterrupt: